
/* Two-column with sidebar on left from the /examples/ folder  */
#container
{
	float:right;
	width:100%;
	margin:0 0 0 -200px;
}

#content
{
	margin:0 0 0 200px;
}

div.sidebar
{
	float:left;
	overflow:hidden;
	width:180px;
}

#secondary
{
	clear:left;
}

#footer
{
	clear:both;
	width:100%;
}

/* Just some example content */
div.skip-link
{
	position:absolute;
	right:1em;
	top:1em;
}

#menu
{
	background:#EEE;
	height:1.5em;
	width:100%;
	margin:1em 0;
}

#menu ul,#menu ul ul
{
	line-height:1;
	list-style:none;
	margin:0;
	padding:0;
}

#menu ul a
{
	display:block;
	margin-right:1em;
	text-decoration:none;
	padding:0.2em 0.5em;
}

#menu ul li ul
{
	left:-999em;
	position:absolute;
}

#menu ul li:hover ul
{
	left:auto;
}

.entry-title,.entry-meta,#trackbacks-list,#respond
{
	clear:both;
}

#container,#primary
{
	margin-top:2em;
}

form#commentform .form-label
{
	margin:1em 0 0;
}

form#commentform span.required
{
	background:#fff;
	color:#c30;
}

form#commentform,form#commentform p
{
	padding:0;
}

input#author,input#email,input#url,textarea#comment
{
	padding:0.2em;
}

div.comments ol li
{
	margin:0 0 3.5em;
}

textarea#comment
{
	height:13em;
	overflow:auto;
	width:66%;
	margin:0 0 0.5em;
}

.alignright,img.alignright
{
	float:right;
	margin:1em 0 0 1em;
}

.alignleft,img.alignleft
{
	float:left;
	margin:1em 1em 0 0;
}

.aligncenter,img.aligncenter
{
	display:block;
	text-align:center;
	margin:1em auto;
}

div.gallery
{
	clear:both;
	height:180px;
	width:100%;
	margin:1em 0;
}

div.gallery dl
{
	overflow:hidden;
	text-align:center;
	margin:1em auto;
}

div.gallery dl.gallery-columns-1
{
	width:100%;
}

div.gallery dl.gallery-columns-3
{
	width:33%;
}

div.gallery dl.gallery-columns-4
{
	width:24%;
}

div.gallery dl.gallery-columns-5
{
	width:19%;
}

#nav-above
{
	margin-bottom:1em;
}

#nav-below
{
	margin-top:1em;
}

#nav-images
{
	height:150px;
	margin:1em 0;
}

div.navigation
{
	height:1.25em;
}

div.navigation div.nav-next
{
	float:right;
	text-align:right;
}

div.sidebar h3
{
	font-size:1.2em;
}

div.sidebar input#s
{
	width:7em;
}

div.sidebar li
{
	list-style:none;
	margin:0 0 2em;
}

div.sidebar li form
{
	margin:0.2em 0 0;
	padding:0;
}

div.sidebar ul ul
{
	margin:0 0 0 1em;
}

div.sidebar ul ul li
{
	list-style:disc;
	margin:0;
}

div.sidebar ul ul ul
{
	margin:0 0 0 0.5em;
}

div.sidebar ul ul ul li
{
	list-style:circle;
}

#menu ul li,div.gallery dl,div.navigation div.nav-previous
{
	float:left;
}

#header,#footer
{
	text-align:center;
}

div.gallery *,div.sidebar div,div.sidebar h3,div.sidebar ul
{
	margin:0;
	padding:0;
}

#menu ul ul ul a,p.wp-caption-text
{
	font-style:italic;
}

div.gallery dl.gallery-columns-2,input#author,input#email,input#url,div.navigation div
{
	width:49%;
}

/*
Copyright (c) 2010, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.com/yui/license.html
version: 2.8.2r1
*/
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;}

/* defaults */

p, h1, h2, h3, h4, h5, h6, ul, li {
  font-size: 14px;
} h1, h2 {
  margin: 1em 0px;
} p, ul {
  background-color: white;
  margin-bottom: 1em;
} 

a {
  color: #33518f;
  text-decoration: none;
} a:hover {
  text-decoration: underline;
}

table, td, th {
  border: none;
} td, th {
  padding: 0 14px 7px 0;
  margin: 0;
  vertical-align: top;
} th {
  text-align: left;
  padding-top: 5px;
} 

code, pre {
  color: #BF6617;
  font-size: 13px;
} pre {
  margin: 14px;
}


/* specific elements */

body {
  background-color: black;
  /* background-image: url('http://evanweaver.files.wordpress.com/2010/11/bg.gif'); */
  background-repeat: repeat-y;
  font-family: Georgia;
  color: #0B0D0F;
} 

#wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 950px;
  width: 950px;
} #access .skip-link {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 977px;
  height: 983px;
  background-repeat: no-repeat;
  background-position: top left;
  /* background-image: url('http://evanweaver.files.wordpress.com/2010/12/splotch_merged.gif'); */
}

#container
{
  position: relative;
  z-index: 2;
	float: right;
	width: 900px;
	margin-bottom: -500px;
  background-repeat: no-repeat;
  background-position: bottom right;
  /* background-image: url('http://evanweaver.files.wordpress.com/2010/11/leaves_bottom_right.gif'); */
}

/* header */
#header {
  position: relative;
  z-index: 2;
} #blog-title {
  color: white;
  font-size: 130px;
  font-weight: bold;
  line-height: 158px;
  margin: 0;
  text-transform: lowercase;
} #blog-title a {
  color: white;
} #blog-title a:hover {
  text-decoration: none;
} #blog-description {
  font-size: 30px;
  margin: -35px 0px 0px 15px;
  font-weight: bold;
  color: white;
}

#nav-above {
  display: none;
}

/* sidebar */

#menu ul, #access .skip-link a {
  display: none;
}

.sidebar, #menu {
	float:left;
	overflow: hidden;
  padding-left: 50px;
  width: 165px;
  max-width: 165x;
  position: relative;
  z-index: 2;
  background-color: transparent;
} .sidebar h3.widgettitle {
  margin: 12px 0px 3px;
  font-weight: bold;
  font-size: 13px;
  color: #33518f;
} div.sidebar ul ul li {
  font-size: 13px;
  line-height: 16px;
  list-style-image: url('http://evanweaver.files.wordpress.com/2010/11/bullet.gif');
  margin-left: 5px;
} div.sidebar li {
  margin: 0;
} ul.xoxo {
  width: 125px;
} .timesince {
  font-size: 11px;
  color: #DF8637;  
}

#menu {
  background-image: url('http://evanweaver.files.wordpress.com/2010/11/sidebar_top.gif');
  height: 72px;
} #primary {
  margin-top: -16px;
  background-image: url('http://evanweaver.files.wordpress.com/2010/11/sidebar_mid.gif');
  background-repeat: repeat-y;
  text-transform: lowercase;
} #secondary {
  background-image: url('http://evanweaver.files.wordpress.com/2010/11/sidebar_bottom.gif');
  height: 200px;
  margin-top: -18px;
  background-repeat: no-repeat;
}

/* posts */

#content {
  width: 704px;
  float: right;
}

.post, .page {
  line-height: 21px;
  background-image: url('http://evanweaver.files.wordpress.com/2010/11/post_top.gif');
  background-repeat: no-repeat;
  padding-top: 50px; 
} .post h2, .page h2 {
  font-size: 18px;
  font-weight: bold;
}

.post h2.entry-title, .page h2.entry-title {
  color: #DF8637;
  font-size: 23px;
  line-height: 36px;
  height: 36px;
  font-weight: bold;
  margin: -6px 100px 0px 50px;
  border-bottom: 1px dashed #7089ac;
  background-color: white;
} h2.entry-title a {
  color: #DF8637;
}

.entry-date {
  margin: 5px 40px -25px 50px;
  width: 100%;
} .entry-date abbr {
  color: #DF8637;
  font-size: 14px;
  text-transform: lowercase;
} 

.entry-content {
  background-image: url('http://evanweaver.files.wordpress.com/2010/11/post_mid.gif');
  background-repeat: repeat-y;
  padding: 60px 100px 1px 50px;
} .single .entry-content {
  padding-top: 30px;
}

.entry-meta {
  background-image: url('http://evanweaver.files.wordpress.com/2010/11/post_bottom.gif');
  background-repeat: no-repeat;
  height: 94px;
  max-height: 94px;
  padding: 0 40px 0 50px;  
  color: #DF8637;
  font-size: 14px;
  padding-top: 18px;
  text-transform: lowercase;
} .entry-meta .comments-link {
  background-color: white;
} .entry-meta a {
  color: #DF8637;
}.entry-meta .meta-sep, .entry-meta .author, .entry-meta .cat-links {
  display: none;
}

.single .entry-meta {
  background-image: url('http://evanweaver.files.wordpress.com/2010/11/post_mid.gif');
  font-size: 0px;
  color: white;
  padding-top: 0px;
  text-align: center;
  padding-right: 80px;
} .single .entry-meta a, .single .entry-meta .published {
  color: #DF8637;
  font-size: 14px;
  background-color: white;
} .single .entry-meta a:nth-of-type(1), .single .entry-meta a:nth-of-type(2) {
  display: none;
}

/* page */

.page .entry-content {
  padding-top: 30px;
}

/* comments */

#comments h3 {
  border-top: 1px dashed #7089AC;
  color: #DF8637;
  margin: 60px 0px 15px;
  padding: 11px 0px 0px;
  text-transform: lowercase;
  font-size: 23px;
  font-weight: bold;
}

#comments-list {
  margin-top: -60px;
  margin-bottom: 0px;
  background-image: url('http://evanweaver.files.wordpress.com/2010/11/post_mid.gif');
  background-repeat: repeat-y;
  padding: 60px 100px 1px 50px
} #comments li {
  border-top: 1px dashed #7089AC;
  margin-bottom: 0px;
}

.comment-author {
  font-weight: bold;
  display: inline;
  line-height: 44px;
} .comment-meta {
  text-transform: lowercase;
  display: inline;
} .comment-meta:after {
  content: ':';
} .comment-meta a:after {
  content: ')';
} .comment-meta a:before {
  content: '(';
} .comment-meta .meta-sep {
  display: none;
} .comment-meta a {
}

#comments .navigation {
  background-image: url('http://evanweaver.files.wordpress.com/2010/11/post_bottom.gif');
  background-repeat: no-repeat;
  height: 94px;
  max-height: 94px;
}

/* footer */

#generator-link, #theme-link, #footer .meta-sep {
  display: none;
}

#nav-below {
  margin: -50px auto 0;
  text-align: center;
  width: 40%;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  text-transform: lowercase;
  background-color: transparent;
} .nav-previous, .nav-next {
  background-color: white;
} 

#footer {
  position: relative;
  bottom: 0;
  left: -200px;
  height: 500px;
  background-repeat: no-repeat;
  background-position: bottom left;
  /* background-image: url('http://evanweaver.files.wordpress.com/2010/11/leaves_bottom_left.gif'); */
}
